doctype html
html
  head
    meta(charset='UTF-8')
    title Travel Republic Hotel Search
    script(type='text/javascript', src='javascripts/Hotels.js')
    link(rel='stylesheet', href='css/bootstrap.css')
    link(rel='stylesheet', href='css/hotels.css')
  body
  script(type='text/javascript').
    var app = Elm.Hotels.fullscreen();

